<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-mvc-11:war exploded">
    <output-path>$PROJECT_DIR$/spring-mvc-11/target/spring-mvc-11</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring-mvc-11/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-mvc-11" />
        </element>
      </element>
    </root>
  </artifact>
</component>