<component name="ArtifactManager">
  <artifact type="war" name="spring-mvc-06:war">
    <output-path>$PROJECT_DIR$/spring-mvc-06/target</output-path>
    <root id="archive" name="spring-mvc-06.war">
      <element id="artifact" artifact-name="spring-mvc-06:war exploded" />
    </root>
  </artifact>
</component>